<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autobot">
    <!-- location permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QRCode" />
        <activity android:name=".OrderInfo" />
        <activity
            android:name=".OrderComplete"
            android:parentActivityName=".DriverIsOnTheWayActivity" />
        <activity android:name=".RateDriver" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetPasswordActivity"
            android:parentActivityName=".SignUpActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GoogleMapActivity" />
        <activity
            android:name=".UCurRequest"
            android:parentActivityName=".HomePageActivity" />
        <activity
            android:name=".DriverhomeActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".DriveIsGoing"
            android:parentActivityName=".DriverhomeActivity" />
        <activity
            android:name=".RiderWaitDriverAcceptRequest"
            android:parentActivityName=".UCurRequest" />
        <activity
            android:name=".DriverIsOnTheWayActivity"
            android:parentActivityName=".RiderWaitDriverAcceptRequest" />
        <activity
            android:name=".Driver_ordercomplete"
            android:parentActivityName=".DriveIsGoing" />
        <activity
            android:name=".Scanner"
            android:parentActivityName=".Driver_ordercomplete" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.autobot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>